[submodule "sstap"]
	path = sstap
	url = git@github.com:devaige/SSTap-Rule.git
[submodule "blackmatrix"]
	path = blackmatrix
	url = git@github.com:devaige/ios_rule_script.git
[submodule "ACL4SSR"]
	path = ACL4SSR
	url = git@github.com:devaige/ACL4SSR.git
